div.select-history {
  margin: 0 auto;
  width: 920px;
  height: 775px;
  padding: 20px 20px 0;
  background-color: #f2f2f2;
  position: relative;
}

div.select-history .title {
  color: #444444;
  font-weight: 800;
  font-size: 16px;
}

div.select-history div.filter {
  height: 70px;
  align-items: center;
  justify-content: center;
  padding: 15px;
  border-radius: 10px 10px 0 0;
  border-bottom: 1px solid #f2f2f2;
}

div.select-history div.filter.flex-end {
  justify-content: flex-end;
}

div.select-history div.filter > * {
  margin-bottom: 0;
  margin-right: 10px;
}

div.select-history div.filter > *:last-child {
  margin-right: 0;
}

div.select-history div.filter .dropdown.b-dropdown {
  margin-right: 20px;
}

div.select-history i.icon-svg.close {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 16px;
  height: 16px;
  background-color: #cccccc;
  cursor: pointer;
}

div.select-history .history-list {
  height: 530px;
  overflow-y: scroll;
  overflow-x: hidden;
  padding: 0 5px 0 20px;
  background: #fff;
  border-radius: 0 0 10px 10px;
}

div.select-history div.no-has-items {
  width: 100%;
  height: 520px;
  margin-bottom: 0;
}

div.select-history .pagination-cc {
  margin: 20px 0;
  align-content: center;
  justify-content: center;
}

div.select-history div.casual-games {
  width: 100%;
  padding: 15px 20px;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
}

div.select-history div.casual-games p.casual-game {
  margin-bottom: 0;
  padding: 0 15px;
  border-right: 1px solid #d9d9d9;
  color: #888888;
  font-weight: 700;
}

div.select-history div.casual-games p.casual-game:hover {
  cursor: pointer;
}

div.select-history div.casual-games p.casual-game:last-child {
  border-right: unset;
}

div.select-history div.casual-games p.casual-game.on {
  color: #3eb2c0;
  font-weight: 800;
}

div.select-history .btn.casual {
  color: #888888;
  font-size: 14px;
  font-weight: 700;
  border: 1px solid transparent;
  background-color: unset;
  min-width: 90px;
  margin-right: 5px;
}

div.select-history .btn.casual:last-child {
  margin-right: 0;
}

div.select-history .btn.casual:hover {
  color: #3eb2c0aa;
  background-color: #ebf7f9aa;
  border: 1px solid #3eb2c0aa;
}

div.select-history .btn.casual.on {
  color: #3eb2c0;
  background-color: #ebf7f9;
  font-weight: 800;
  border: 1px solid #3eb2c0;
}